#sbt
/project/target/
/project/project/target

/target/
target/
/src/jline/target/

# target directories for ant build
/build/
/dists/

# other
/out/
/bin/
/lib/
/sandbox/

# eclipse, intellij
/.classpath
/.project
/src/intellij/*.iml
/src/intellij/*.ipr
/src/intellij/*.iws
/.cache
/.idea
/.settings
.worksheet
*.sc

# bak files produced by ./cleanup-commit
*.bak


# sublime project files
.sublime
/*.sublime
/*.sublime-workspace
.ensime*

# sublime sbt plugins
/project/plugins.sbt

# MacOSX Files
.DS_Store
